<header>
    <nav>
        <ul>
            <li routerLink="/">Kezdőlap</li>
        </ul>
        <ul>
            <li routerLink="/calculator">Kalkulátor</li>
        </ul>
        <ul>
            <li routerLink="/recipes">Receptek</li>
        </ul>
        <ul>
            <li routerLink="/exercises">Gyakorlatok</li>
        </ul>
        <ul>
            <li routerLink="/contacts">Kapcsolat</li>
        </ul>
        <ul>
            <li routerLink="/settings" class="settings-icon">
                <div class="icon-circle">
                    <i class="bi bi-gear-fill"></i>
                </div>
            </li>
        </ul>
        <ul>
            <li routerLink="/login" class="login-button">
                Bejelentkezés
            </li>
        </ul>
    </nav>
</header>