header{
    display: flex;
    align-items: center;
    padding-inline: 16px;
    background-color: #333;
    color: white;
    justify-content: space-between;
    font-size: 18px;

    nav{
        width: 100%;
        display: flex;
        align-items: center;

        > span{
            cursor: pointer;
            &:hover{
                color: #777;
            }
        }

        ul{
            list-style: none;
            
            li{
                cursor: pointer;
                &:hover{
                    color: #777;
                }
            }
        }
    }
}