<header>
    <img routerLink="/" class="logo" src="assets/logo_only.png" alt="Logo">
    <nav>
        <div class="hamburger" (click)="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-links" [ngClass]="{ 'active': isMenuOpen }">
            <li routerLink="/" (click)="closeMenu()">Kezdőlap</li>
            <li routerLink="/calculator" (click)="closeMenu()">Kalkulátor</li>
            <li routerLink="/recipes" (click)="closeMenu()">Receptek</li>
            <li routerLink="/exercises" (click)="closeMenu()">Gyakorlatok</li>
            <li routerLink="/workouts" (click)="closeMenu()">Edzéstervek</li>
            <li routerLink="/diets" (click)="closeMenu()">Étrendek</li>
        </ul>
        <ul>
            <li routerLink="/login" class="login-button" (click)="closeMenu()">Bejelentkezés</li>
        </ul>
    </nav>
</header>