<div class="login-container">
    <div class="login-card">
        <h2>Bejelentkezés</h2>
        <p class="subtitle">Jelentkezz be a funkció használatához</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="popup-username">E-mail vagy felhasználónév</label>
                <input type="text" id="popup-username" formControlName="login"
                    placeholder="Add meg az e-mail címed vagy a neved" autocomplete="username"
                    [class.invalid]="hasError('login', 'required') || hasError('login', 'minlength')" />
                <div *ngIf="hasError('login', 'required')" class="error-message">
                    Az E-mail vagy a felhasználónév kötelező.
                </div>
            </div>
            <div class="form-group">
                <label for="popup-password">Jelszó</label>
                <div class="password-input-container">
                    <input [type]="hidePassword ? 'password' : 'text'" id="popup-password" formControlName="password"
                        placeholder="Add meg a jelszavad" autocomplete="current-password"
                        [class.invalid]="hasError('password', 'required') || hasError('password', 'minlength')" />
                    <button type="button" class="toggle-password-visibility" (click)="togglePasswordVisibility()"
                        [attr.aria-label]="hidePassword ? 'Jelszó mutatása' : 'Jelszó elrejtése'" tabindex="-1">
                        <i class="fas" [ngClass]="hidePassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </button>
                </div>
                <div *ngIf="hasError('password', 'required')" class="error-message">
                    A jelszó kötelező.
                </div>
            </div>
            <div *ngIf="loginError" class="login-error-message">
                {{ loginError }}
            </div>
            <button type="submit" [disabled]="loginForm.invalid || loading">
                <span *ngIf="!loading">Bejelentkezés</span>
                <div *ngIf="loading" class="button-spinner"></div>
            </button>
        </form>
        <div class="footer">
            <div>Nincs még fiókod? <strong routerLink="/register" (click)="closeLoginPopup()">Regisztrálj</strong></div>
            <div routerLink="/forgot-password" (click)="closeLoginPopup()" class="forgot-password"><strong>Elfelejtetted
                    a jelszavadat?</strong></div>
        </div>
    </div>
</div>