<section class="h1-container">
    <h1>Feltöltések kezelése</h1>
</section>
<div class="uploads-container">
    <div *ngIf="!loading  && allUploads.length === 0" class="no-uploads">
        <p>Nincsenek feltöltéseid.</p>
    </div>

    <div class="cards-container">
        <div *ngIf="uploadedFoods.length > 0 && !loading" class="section-title-cards-container">
            <h1 class="section-title">Receptek</h1>
            <div class="cards">
                <div class="food-card" *ngFor="let uploadedFood of uploadedFoods" (click)="openFoodPopup(uploadedFood)">
                    <button class="delete-btn" (click)="deleteFood(uploadedFood.food_id); $event.stopPropagation()">
                        <i class="fas fa-times"></i>
                    </button>

                    <div class="food-cover" *ngIf="!uploadedFood.img">
                        <span>{{ uploadedFood.name }}</span>
                    </div>
            
                    <img *ngIf="uploadedFood.img" [src]="uploadedFood.img" [alt]="uploadedFood.name" />
                    
                    <div class="food-card-content">
                        <h3>{{ uploadedFood.name }}</h3>
                        <p><i class="fas fa-fire"></i> {{ uploadedFood.calorie }} kcal</p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="uploadedExercises.length > 0 && !loading" class="section-title-cards-container">
            <h1 class="section-title">Gyakorlatok</h1>
            <div class="cards">
                <div class="exercise-card" *ngFor="let uploadedExercise of uploadedExercises"
                    (click)="openExercisePopup(uploadedExercise)">
                    <button class="delete-btn"
                        (click)="deleteExercise(uploadedExercise.exercise_id); $event.stopPropagation()">
                        <i class="fas fa-times"></i>
                    </button>

                    <div class="exercise-cover" *ngIf="!uploadedExercise.img">
                        <span>{{ uploadedExercise.exercise_name }}</span>
                    </div>
            
                    <img *ngIf="uploadedExercise.img" [src]="uploadedExercise.img" [alt]="uploadedExercise.name" />

                    <div class="exercise-card-content">
                        <h3>{{ uploadedExercise.exercise_name }}</h3>
                        <p><strong>Kategória:</strong> {{ uploadedExercise.type }}</p>
                        <p><strong>Izomcsoport:</strong> {{ uploadedExercise.muscle_group }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="uploadedWorkouts.length > 0 && !loading" class="section-title-cards-container">
            <h1 class="section-title">Edzéstervek</h1>
            <div class="cards">
                <div class="workout-card" *ngFor="let uploadedWorkout of uploadedWorkouts"
                    (click)="openWorkoutPopup(uploadedWorkout)">
                    <button class="delete-btn" (click)="deleteWorkout(uploadedWorkout.id); $event.stopPropagation()">
                        <i class="fas fa-times"></i>
                    </button>
                    <div class="workout-cover">
                        <span>{{ uploadedWorkout.title }}</span>
                    </div>
                    <div class="workout-card-content">
                        <p><strong>Típus:</strong> {{ uploadedWorkout.type }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="uploadedDiets.length > 0 && !loading" class="section-title-cards-container">
            <h1 class="section-title">Étrendek</h1>
            <div class="cards">
                <div class="diet-card" *ngFor="let uploadedDiet of uploadedDiets" (click)="openDietPopup(uploadedDiet)">
                    <button class="delete-btn" (click)="deleteDiet(uploadedDiet.id); $event.stopPropagation()">
                        <i class="fas fa-times"></i>
                    </button>
                    <div class="diet-cover">
                        <span>{{ uploadedDiet.title }}</span>
                    </div>
                    <div class="diet-card-content">
                        <p><strong>Kalória:</strong> {{ uploadedDiet.kcal }} kcal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loading" class="loading-spinner">
        <div class="spinner"></div>
    </div>
</div>

<div *ngIf="showFoodPopup" class="food-popup" (click)="closeFoodPopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeFoodPopup()">
            <i class="fas fa-times"></i>
        </button>

        <div class="food-popup-top">
            <div class="food-popup-left">
                <h3>{{ selectedFood.name }}</h3>
                <p class="food-description">{{ selectedFood.description }}</p>
            </div>

            <div *ngIf="selectedFood.img" class="food-popup-right">
                <img [src]="selectedFood.img" [alt]="selectedFood.name" />
            </div>
        </div>

        <div class="food-popup-bottom">
            <div class="nutrition-row">
                <div class="nutrition-item">
                    <i class="fas fa-fire"></i>
                    <strong>Kalória:</strong> {{ selectedFood.calorie }} kcal
                </div>
                <div class="nutrition-item">
                    <i class="fas fa-egg"></i>
                    <strong>Fehérje:</strong> {{ selectedFood.protein }} g
                </div>
                <div class="nutrition-item">
                    <i class="fas fa-cheese"></i>
                    <strong>Zsír:</strong> {{ selectedFood.fat }} g
                </div>
                <div class="nutrition-item">
                    <i class="fas fa-bread-slice"></i>
                    <strong>Szénhidrát:</strong> {{ selectedFood.carb }} g
                </div>
            </div>

            <h4><i class="fas fa-list"></i> Hozzávalók:</h4>
            <ul>
                <li *ngFor="let ingredient of ingredients">
                    {{ ingredient.amount }} {{ ingredient.ingredient_name }}
                </li>
            </ul>

            <h4><i class="fas fa-book"></i> Elkészítés:</h4>
            <p class="recipe">{{ selectedFood.recipe }}</p>
        </div>
    </div>
</div>

<div *ngIf="showExercisePopup" class="popup" (click)="closeExercisePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeExercisePopup()">
            <i class="fas fa-times"></i>
        </button>

        <div class="exercise-popup-top">
            <div class="exercise-popup-left">
                <h3>{{ selectedExercise.exercise_name }}</h3>
                <p class="exercise-description">{{ selectedExercise.description }}</p>
            </div>

            <div *ngIf="selectedExercise.img" class="exercise-popup-right">
                <img [src]="selectedExercise.img" [alt]="selectedExercise.exercise_name" />
            </div>
        </div>

        <div class="exercise-popup-bottom">
            <div class="exercise-details-row">
                <div class="exercise-details-item">
                    <strong>Kategória:</strong> {{ selectedExercise.type }}
                </div>
                <div class="exercise-details-item">
                    <strong>Izomcsoport:</strong> {{ selectedExercise.muscle_group }}
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showWorkoutPopup" class="popup" (click)="closeWorkoutPopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeWorkoutPopup()">
            <i class="fas fa-times"></i>
        </button>
        <h3 class="workout-popup-title">{{ selectedWorkout.title }}</h3>
        <p class="workout-highlight">{{ selectedWorkout.goodFor }}</p>
        <p class="workout-description">{{ selectedWorkout.description }}</p>

        <div class="workout-exercises">
            <h4><i class="fas fa-list"></i> Gyakorlatok:</h4>
            <div *ngFor="let exercise of selectedWorkout.exercises" class="workout-exercise-card"
                (click)="toggleExerciseDetails(exercise)">
                <div class="workout-exercise-header">{{ exercise.exercise_name }} - {{ exercise.muscle_group }}</div>

                <div *ngIf="exercise.isExpanded" class="workout-exercise-details">
                    <p>{{ exercise.description }}</p>
                    <img [src]="exercise.img" [alt]="exercise.exercise_name" />
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showDietPopup" class="popup" (click)="closeDietPopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeDietPopup()">
            <i class="fas fa-times"></i>
        </button>

        <div>
            <div>
                <h3 class="diet-h3">{{ selectedDiet.title }}</h3>
                <p class="diet-description">{{ selectedDiet.description }}</p>
                <p class="all-calories"><i class="fas fa-fire"></i><strong>Összes Kalória:</strong> {{ selectedDiet.kcal }} kcal</p>
            </div>
        </div>

        <div class="diet-popup-bottom">
            <h4><i class="fas fa-utensils"></i>Ételek:</h4>
            <div class="diet-food-cards">
                <div class="diet-card" *ngFor="let food of foods" (click)="openFoodPopup(food)">

                    <div class="food-cover" *ngIf="!food.img">
                        <span>{{ food.name }}</span>
                    </div>
            
                    <img *ngIf="food.img" [src]="food.img" [alt]="food.name" />

                    <div class="diet-card-content">
                        <h3>{{ food.name }}</h3>
                        <p><strong>Kalória:</strong> {{ food.calorie }} kcal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>