<div class="vertical-nav-container">
    <div class="user-profile">
        <span class="username">Hello, <span>{{ username }}</span></span>
    </div>

    <ul>
        <li routerLink="/user" class="nav-item">
            <i class="fas fa-user"></i><span>Személyes adatok</span>
        </li>
        <li routerLink="/liked-recipes" class="nav-item">
            <i class="fas fa-utensils"></i><span>Kedvelt receptek</span>
        </li>
        <li routerLink="/liked-exercises" class="nav-item">
            <i class="fas fa-dumbbell"></i><span>Kedvelt gyakorlatok</span>
        </li>
        <li class="nav-item">
            <i class="fas fa-lock"></i><span>Jelszó módosítása</span>
        </li>
        <li routerLink="/settings" class="nav-item">
            <i class="fas fa-cog"></i><span>Beállítások</span>
        </li>
        <li class="nav-item logout" (click)="onLogout()">
            <i class="fas fa-sign-out-alt"></i><span>Kijelentkezés</span>
        </li>
    </ul>
</div>