<section class="hero">
    <div class="container">
        <h2>Az egészséges életmód kezdete</h2>
        <p>Segítünk elérni céljaidat, legyen szó fogyásról, izomtömeg növelésről vagy fittentartásról.</p>
    </div>
</section>

<section class="about" id="about">
    <div class="container">
        <h3>Miért válaszd az oldalunkat?</h3>
        <p>Weboldalunk segítségével egyszerűen alakíthatod ki az egészségesebb életmódot. Megmutatjuk a jól bevált utat céljaid eléréséhez, legyen szó testsúlycsökkentésről, izomépítésről vagy mindennapi vitalitásod növeléséről.</p>
    </div>
</section>

<section class="features" id="features">
    <div class="container">
        <h3>Funkciók</h3>
        <div class="features-grid">
            <div class="feature">
                <h4>Kalória Kalkulátor</h4>
                <p>Számítsd ki könnyedén a fogyáshoz, súlytartáshoz vagy hízáshoz szükséges kalória bevitelt.</p>
            </div>
            <div class="feature">
                <h4>Receptek</h4>
                <p>Egészséges, otthon is könnyen elkészíthető diétás és tömegnövelő receptek.</p>
            </div>
            <div class="feature">
                <h4>Edzéstervek</h4>
                <p>Használj előre összeállított edzésterveket, vagy készítsd el a sajátodat.</p>
            </div>
            <div class="feature">
                <h4>Gyakorlatok</h4>
                <p>Fedezd fel a különböző izomcsoportokra ajánlott konditermes és saját testsúlyos gyakorlatokat.</p>
            </div>
            <div class="feature">
                <h4>Saját Recept Hozzáadása</h4>
                <p>Oszd meg kedvenc receptjeidet, és mentsd el a legjobbakat.</p>
            </div>
            <div class="feature">
                <h4>Étel Összegzés</h4>
                <p>Nyomon követheted az elfogyasztott ételeidet és azok kalóriáit.</p>
            </div>
        </div>
    </div>
</section>
