<div class="container">
    <div class="user-container">
        <div class="profile-header">
            <div class="profile-picture" [class.no-box-shadow]="userPhysique?.progress_picture">
                <div *ngIf="!userPhysique?.progress_picture" class="default-icon">
                    <i class="fas fa-user"></i>
                </div>

                <img *ngIf="userPhysique?.progress_picture" [src]="userPhysique.progress_picture"
                    alt="Profile Picture" />
            </div>
            <div class="profile-info">
                <h2>{{ userName }}</h2>
                <p>{{ userEmail }}</p>
            </div>
        </div>

        <div *ngIf="userPhysique; else noPhysique">
            <h3>Fizikai Adatok:</h3>
            <div class="info-card">
                <div class="info-item">
                    <i class="fas fa-ruler-vertical"></i>
                    <p><strong>Magasság:</strong> {{ userPhysique.height }} cm</p>
                </div>
                <div class="info-item">
                    <i class="fas fa-weight"></i>
                    <p><strong>Súly:</strong> {{ userPhysique.weight }} kg</p>
                </div>
                <div class="info-item">
                    <i class="fas fa-birthday-cake"></i>
                    <p><strong>Kor:</strong> {{ userPhysique.age }} év</p>
                </div>
                <div class="info-item">
                    <i class="fas fa-venus-mars"></i>
                    <p><strong>Nem:</strong> {{ userPhysique.gender === 'ferfi' ? 'Férfi' : 'Nő' }}</p>
                </div>
            </div>
        </div>

        <ng-template #noPhysique>
            <p class="error-message">{{ errorMessage }}</p>
        </ng-template>
    </div>
</div>