<header>
    <nav>
        <ul>
            <li routerLink="/">Kezdőlap</li>
        </ul>
        <ul>
            <li routerLink="/calculator">Kalkulátor</li>
        </ul>
        <ul>
            <li routerLink="/recipes">Receptek</li>
        </ul>
        <ul>
            <li routerLink="/diets">Étrendek</li>
        </ul>
        <ul>
            <li routerLink="/exercises">Gyakorlatok</li>
        </ul>
        <ul>
            <li routerLink="/workouts">Edzéstervek</li>
        </ul>
        <ul>
            <li routerLink="/contacts">Kapcsolat</li>
        </ul>
        <ul>
            <li routerLink="/user" class="user-icon">
                <div class="icon-circle">
                    <i class="bi bi-person-fill"></i>
                </div>
            </li>
        </ul>
    </nav>
</header>