<div class="login-container">
    <div class="login-card">
        <h2>Üdv újra!</h2>
        <p class="subtitle">Jelentkezz be a folytatáshoz</p>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group">
                <label for="username">Email vagy név</label>
                <input type="text" id="username" name="username" [(ngModel)]="loginObj.login" required #usernameInput="ngModel" placeholder="Add meg a felhasználóneved" />
                <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="error-message">
                    Az Email vagy a név kötelező.
                </div>
                <div *ngIf="loginError" class="error-message">
                    {{ loginError }}
                </div>
            </div>

            <div class="form-group">
                <label for="password">Jelszó</label>
                <input type="password" id="password" name="password" [(ngModel)]="loginObj.password" required #passwordInput="ngModel" placeholder="Add meg a jelszavad" />
                <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error-message">
                    A jelszó kötelező.
                </div>
            </div>

            <button type="submit" [disabled]="!loginForm.form.valid">Bejelentkezés</button>
        </form>
        <div class="footer">
            <div>Nincs még fiókod? <strong routerLink="/register">Regisztrálj</strong></div>
            <div class="forgot-password"><strong>Elfelejtetted a jelszavadat?</strong></div>
        </div>
    </div>
    
</div>