:host{
    display: block;
    width: 100%;
}

.food-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
}

.card {
    position: relative;
    width: 300px;
    border-radius: 8px;
    background-color: #1e1e1e;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-color: #FC282C;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(252, 40, 44, 0.1) 0%, transparent 50%, rgba(252, 40, 44, 0.1) 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.card:hover::after {
    opacity: 1;
}

.card-content {
    padding: 16px;
    transition: transform 0.3s ease;
}


.card img, .exercise-cover {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card:hover img, .card:hover .exercise-cover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.card-content p strong {
    color: #FC282C;
    transition: color 0.3s ease;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #333;
}

.card-content {
    padding: 16px;
    position: relative;
    min-height: 100px;
}

.card-content h3 {
    margin: 0 0 8px;
    font-size: 1.3em;
    color: #fff;
}

.card-content p {
    position: absolute;
    bottom: 16px;
    left: 16px;
    margin: 0;
    font-size: 1em;
    color: #b0b0b0;
}

.card-content p strong {
    color: #FC282C;
}

.like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #1e1e1e;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.1s ease, box-shadow 0.1s ease;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 999;

    transform-origin: center;
    transform: translateZ(0);
    will-change: transform;
}

.like-button:hover {
    background-color: #2e2e2e;
}

.like-button i {
    font-size: 25px;
    color: #ccc;
    transition: color 0.1s ease, transform 0.1s ease;
    position: relative;
    z-index: 2;
}

.like-button .liked {
    color: #FC282C;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    backdrop-filter: blur(5px);
}

.popup-content {
    position: relative;
    background-color: #1e1e1e;
    padding: 32px;
    border-radius: 12px;
    width: 80%;
    max-width: 60%;
    max-height: 80vh;
    color: #fff;
    overflow-y: auto;
    animation: fadeIn 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popup-top {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.popup-left {
    flex: 1;
}

.popup-left h3 {
    margin: 0;
    font-size: 1.8em;
    color: #fff;
    position: relative;
    letter-spacing: 0.5px;
}

.popup-left .description {
    font-size: 1.1em;
    color: #b0b0b0;
    margin-top: 15px;
}

.popup-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.popup-right img {
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.popup-bottom {
    margin-top: 20px;
}

.nutrition-row {
    display: flex;
    gap: 8px;
    margin: 16px 0;
}

.nutrition-item {
    background-color: #1e1e1e;
    padding: 8px 16px;
    border-radius: 12px;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    flex: 1 1 calc(25% - 16px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.nutrition-item strong {
    color: #FC282C;
}

.popup-bottom h4 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.4em;
    color: #fff;
    display: flex;
    align-items: center;
}

.popup-bottom h4 i {
    color: #FC282C;
    margin-right: 10px;
    font-size: 1.1em;
}

.popup-bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 5px;
}

.popup-bottom li,
.popup-bottom .recipe {
    padding: 10px 16px;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(20deg, #222, #1a1a1a);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-left: 2px solid #FC282C;
    font-size: 1.1em;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #FC282C;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: rgb(198, 19, 19);
}

@media (max-width: 768px) {
    .popup-top {
        flex-direction: column;
        gap: 0;
    }

    .popup-right img {
        max-width: 100%;
        height: auto;
        margin-top: 16px;
    }

    .nutrition-row {
        flex-wrap: wrap;
    }

    .nutrition-item {
        flex: 1 1 calc(50% - 8px);
    }

    .popup-content {
        max-width: 100%;
    }

    .card {
        width: 100%;
    }

    .sorting-container {
        margin-bottom: 0;
    }

    .sorting-dropdown {
        justify-content: center;
        width: 100%;
    }

    .close-btn {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }

    .popup-left {
        width: 90%;
    }

    .food-cards{
        padding-right: 16px;
        padding-left: 16px;
    }

    .no-liked-foods {
        text-align: center;
    }
}

.no-liked-foods {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    height: 100%;
    color: #b0b0b0;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-top: 8px solid #FC282C;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.popup-bottom .fas, .fa-fire {
    color: #FC282C;
    margin-right: 5px;
}

.h1-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #e0e0e0;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.h1-container h1::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 2px;
    background: linear-gradient(to right, transparent, #FC282C, transparent);
}

.food-cover {
    width: 100%;
    height: 200px;
    background: linear-gradient(45deg, #1e1e1e, #2a2a2a); /* Alap gradient háttér */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #333;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.food-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #FC282C, #B22222, #FC282C);
    opacity: 0;
    transition: opacity 0.1s ease;
    z-index: 1;
}

.food-cover:hover::before {
    opacity: 1;
}

.food-cover span {
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
    color: #eae4e4;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    transition: color 0.1s ease;
}

.food-cover:hover span {
    color: rgb(17, 15, 15);
}