.sorting-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 16px;
}

.sorting-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1e1e1e;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.sorting-dropdown label {
    font-weight: bold;
    color: #fff;
    font-size: 1.1em;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}

.custom-select select:hover {
    border-color: #FC282C;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #fff;
    font-size: 0.8em;
}

.workout-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
    margin-bottom: 35px;
}

.card {
    position: relative;
    width: 300px;
    border-radius: 8px;
    background-color: #1e1e1e;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-color: #FC282C;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(252, 40, 44, 0.1) 0%, transparent 50%, rgba(252, 40, 44, 0.1) 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.card:hover::after {
    opacity: 1;
}

.card-content {
    padding: 16px;
    transition: transform 0.3s ease;
}


.card img, .exercise-cover {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card:hover img, .card:hover .exercise-cover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.card-content p strong {
    color: #FC282C;
    transition: color 0.3s ease;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
}

.popup-content {
    position: relative;
    background-color: #1e1e1e;
    padding: 24px;
    border-radius: 12px;
    width: 80%;
    max-width: 60%;
    max-height: 80vh;
    color: #fff;
    overflow-y: auto;
    animation: fadeIn 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.title {
    margin-top: 0;
    color: #FC282C;
    font-size: 1.75em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.highlight {
    background-color: #2a2a2a;
    padding: 12px 20px;
    border-radius: 8px;
    color: #fff;
    margin: 10px 0;
    font-size: 1.1em;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #FC282C;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: rgb(198, 19, 19);
}

.exercises {
    margin-top: 20px;
}

.exercise-card {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    padding: 16px 16px;
    border-radius: 8px;
    background-color: #2e2e2e;
    cursor: pointer;
}

.exercise-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    color: #fff;
}

.exercise-details {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #444;
}

.exercise-details img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}

.exercise-details p {
    color: #ccc;
    margin: 8px 0;
}

h4 {
    color: #FC282C;
    font-size: 1.3em;
    margin-bottom: 15px;
}

.popup-content h2{
    color: #FC282C;
    margin-top: 0;
}

@media (max-width: 768px) {
    .popup-top {
        flex-direction: column;
    }

    .popup-content {
        max-width: 100%;
    }

    .login-popup-content {
        max-width: 100% !important;
    }

    .card {
        width: 100%;
    }

    .close-btn {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }

    .sorting-container {
        margin-bottom: 0;
    }
    
    .sorting-dropdown {
        flex: 1 1 100%;
        width: unset;
        justify-content: center;
    }

    .sorting-container{
        flex-direction: column;
    }

    .add-workout-button::before {
        display: none;
    }

    .title{
        width: 80%;
    }

    .popup-content h2 {
        width: 80%;
    }

    .grid-form {
        grid-template-columns: 1fr;
    }

    .add-exercise-btn {
        width: 100%!important;
    }
}

@media (min-width: 768px) {
    .grid-form {
        display: grid;
    }
}

.add-workout-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FC282C;
    color: #000;
    font-size: 2.5em;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    z-index: 1000;
}

.add-workout-button::before {
    content: "Edzésterv hozzáadása";
    position: absolute;
    white-space: nowrap;
    font-size: 1rem;
    color: #000;
    background-color: #FC282C;
    padding: 21px 20px;
    border-radius: 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateX(10px);
    right: 10%;
    font-weight: bold;
}

.add-workout-button:hover::before {
    opacity: 1;
    transform: translateX(0);
}

.exercise-checkbox {
    margin-bottom: 10px;
}

.exercise-checkbox input {
    margin-right: 10px;
}

.grid-form {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.form-group.full-width {
    grid-column: span 2;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #FC282C;
    box-shadow: 0 0 0 3px rgba(252, 40, 44, 0.2);
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #FC282C;
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.1s ease;
    box-sizing: border-box;
}

.submit-btn:hover {
    background-color: rgb(198, 19, 19);
}

.submit-btn:disabled {
    background-color: #444;
    color: #000;
    cursor: not-allowed;
}

.exercise-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.exercise-row .form-group {
    flex: 1;
}

.add-exercise-btn,
.remove-exercise-btn {
    padding: 13px;
    border: none;
    border-radius: 6px;
    background-color: #FC282C;
    color: #000;
    cursor: pointer;
    transition: background-color 0.1s ease;
    font-size: 1rem;
    font-weight: 600;
}

.remove-exercise-btn {
    margin-top: 8px;
}

.add-exercise-btn {
    margin-bottom: 22px;
    width: 250px;
}

.add-exercise-btn:hover,
.remove-exercise-btn:hover {
    background-color: rgb(198, 19, 19);
}

.add-exercise-btn:disabled,
.remove-exercise-btn:disabled {
    background-color: #444;
    color: #000;
    cursor: not-allowed;
}

.workout-cover {
    width: 100%;
    height: 140px;
    background: linear-gradient(45deg, #1e1e1e, #2a2a2a); /* Alap gradient háttér */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #333;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.workout-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #FC282C, #B22222, #FC282C);
    opacity: 0;
    transition: opacity 0.1s ease;
    z-index: 1;
}

.workout-cover:hover::before {
    opacity: 1;
}

.workout-cover span {
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
    color: #eae4e4;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    transition: color 0.1s ease;
}

.workout-cover:hover span {
    color: rgb(17, 15, 15);
}

.fa-filter{
    margin-right: 10px;
}

.fa-search {
    margin-right: 10px;
    font-size: 18px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #1e1e1e;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.search-container input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #0f0f0f;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    height: 39px;
}

input:focus{
    border-color: #FC282C;
    box-shadow: 0 0 0 3px rgba(252, 40, 44, 0.2)
}

.search-container label {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #fff;
    font-size: 1.1em;
}

.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input-wrapper input {
    width: 100%;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #0f0f0f;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.clear-button {
    display: flex;
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.5rem;
    background-color: #FC282C;
}

.clear-button:hover {
    background-color: rgb(198, 19, 19);
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-bottom: 35px;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-top: 8px solid #FC282C;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.h1-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #e0e0e0;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.h1-container h1::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #FC282C, transparent);
}

.login-popup-content{
    position: relative;
    background-color: #1e1e1e;
    padding: 24px;
    border-radius: 12px;
    max-width: 60%;
    max-height: 80vh;
    color: #fff;
    overflow-y: auto;
    animation: fadeIn 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
}