.food-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.card {
  width: 300px;
  border: 1px solid #333;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1e1e1e;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #333;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  margin: 0 0 8px;
  font-size: 1.25em;
  color: #ffffff;
}

.card-content p {
  margin: 4px 0;
  font-size: 0.9em;
  color: #b0b0b0;
}

.popup-content {
  background-color: #1e1e1e;
  padding: 24px;
  padding-top: 0 !important;
  border-radius: 8px;
  width: 80%;
  max-width: 1000px;
  max-height: 80vh;
  color: #ffffff;
  position: relative;
  overflow-y: auto;
  scrollbar-color: #FC282C #1e1e1e;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.popup-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.popup-content li {
  background-color: #2a2a2a;
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
  color: #ffffff;
}

.nutrition-row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.nutrition-item {
  background-color: #2a2a2a;
  padding: 8px 16px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1em;
  display: flex;
}

.nutrition-item strong {
  color: #FC282C;
  margin-right: 8px;
}

h4 {
  color: #FC282C;
}

p strong {
  color: #FC282C;
}

@media (max-width: 960px) {
  .nutrition-item {
    flex: 1 1 calc(50% - 12px);
    /* 2 items per row on smaller screens */
  }
}

.recipe {
  background-color: #2a2a2a;
  padding: 8px 16px;
  border-radius: 4px;
  color: #ffffff;
}

.description {
  background-color: #2a2a2a;
  padding: 8px 16px;
  border-radius: 4px;
  color: #ffffff;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FC282C;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-btn:hover {
  background-color: rgb(198, 19, 19);
}

.close-btn i {
  color: #000000;
  /* Make the X black */
}