<div class="food-cards">
	<div class="sorting-container">
		<div class="sorting-dropdown">
			<label>Szűrés típus szerint:</label>
			<div class="custom-select">
				<select id="foodType" (change)="changeType($any($event.target).value)">
					<option value="all">Összes</option>
					<option value="reggeli">Reggeli</option>
					<option value="ebed">Ebéd</option>
					<option value="vacsora">Vacsora</option>
				</select>
				<span class="custom-arrow">▼</span>
			</div>
		</div>
	</div>

	<div class="card" *ngFor="let food of food | sortFoods: selectedType" (click)="openPopup(food)">
		<img [src]="food.img_url ? food.img_url : 'https://via.placeholder.com/300x200?text=No+Image'"
			[alt]="food.name" />
		<div class="card-content">
			<h3>{{ food.name }}</h3>
			<p><strong>Kalória:</strong> {{ food.calorie }} kcal</p>
		</div>
	</div>
</div>

<div *ngIf="showPopup" class="popup" (click)="closePopup()">
	<div class="popup-content" (click)="$event.stopPropagation()">
	  <button class="close-btn" (click)="closePopup()">
		<i class="fas fa-times"></i>
	  </button>
  
	  <div class="popup-top">
		<div class="popup-left">
		  <h3>{{ selectedFood.name }}</h3>
		  <p class="description">{{ selectedFood.description }}</p>
		</div>
  
		<div class="popup-right">
		  <img [src]="selectedFood.img_url ? selectedFood.img_url : 'https://via.placeholder.com/400x300?text=No+Image'"
			   [alt]="selectedFood.name" />
		</div>
	  </div>
  
	  <div class="popup-bottom">
		<div class="nutrition-row">
		  <div class="nutrition-item">
			<strong>Kalória:</strong> {{ selectedFood.calorie }} kcal
		  </div>
		  <div class="nutrition-item">
			<strong>Fehérje:</strong> {{ selectedFood.protein }} g
		  </div>
		  <div class="nutrition-item">
			<strong>Zsír:</strong> {{ selectedFood.fat }} g
		  </div>
		  <div class="nutrition-item">
			<strong>Szénhidrát:</strong> {{ selectedFood.carb }} g
		  </div>
		</div>
  
		<h4>Hozzávalók:</h4>
		<ul>
		  <li *ngFor="let ingredient of ingredients">
			{{ ingredient.amount }} {{ ingredient.ingredient_name }}
		  </li>
		</ul>
  
		<h4>Elkészítés:</h4>
		<p class="recipe">{{ selectedFood.recipe }}</p>
	  </div>
	</div>
  </div>