<section class="h1-container">
    <h1>Kedvelt gyakorlatok</h1>
</section>
<div class="exercise-cards">
    <div *ngIf="loading" class="loading-spinner">
        <div class="spinner"></div>
    </div>

    <div *ngIf="!loading && likedExercises.length === 0" class="no-liked-exercises">
        <p>Nincsenek kedvelt gyakorlataid.</p>
    </div>

    <div class="card" *ngFor="let exercise of likedExercises" (click)="openPopup(exercise)">
        <div class="like-button" (click)="toggleLike(exercise); $event.stopPropagation()">
            <i class="fas fa-heart" [ngClass]="{'liked': exercise.isLiked}"></i>
        </div>

        <div class="exercise-cover" *ngIf="!exercise.img">
            <span>{{ exercise.exercise_name }}</span>
        </div>

        <img *ngIf="exercise.img" [src]="exercise.img" [alt]="exercise.name" />

        <div class="card-content">
            <h3>{{ exercise.exercise_name }}</h3>
            <p><strong>Kategória:</strong> {{ exercise.type }}</p>
            <p><strong>Izomcsoport:</strong> {{ exercise.muscle_group }}</p>
        </div>
    </div>
</div>

<div *ngIf="showPopup" class="popup" (click)="closePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closePopup()">
            <i class="fas fa-times"></i>
        </button>

        <div class="popup-top">
            <div class="popup-left">
                <h3>{{ selectedExercise.exercise_name }}</h3>
                <p class="description">{{ selectedExercise.description }}</p>
            </div>

            <div *ngIf="selectedExercise.img" class="popup-right">
                <img [src]="selectedExercise.img" [alt]="selectedExercise.exercise_name" />
            </div>
        </div>

        <div class="popup-bottom">
            <div class="details-row">
                <div class="details-item">
                    <strong>Kategória:</strong> {{ selectedExercise.type }}
                </div>
                <div class="details-item">
                    <strong>Izomcsoport:</strong> {{ selectedExercise.muscle_group }}
                </div>
            </div>
            <div class="uploader">
                <div class="profile-picture">
                    <div *ngIf="!selectedExerciseUploader.progress_picture" class="default-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <img *ngIf="selectedExerciseUploader.progress_picture" [src]="selectedExerciseUploader.progress_picture" alt="Profile Picture" />
                </div>
                <h3>Készítette: {{ selectedExerciseUploader.name }}</h3>
            </div>
        </div>
    </div>
</div>