.sorting-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 16px;
}
.sorting-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1e1e1e;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.sorting-dropdown label {
    font-weight: bold;
    color: #fff;
    font-size: 1.1em;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}

.custom-select select:hover {
    border-color: #FC282C;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #fff;
    font-size: 0.8em;
}

.exercise-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
    margin-bottom: 35px;
}

.card {
    position: relative;
    width: 300px;
    border-radius: 8px;
    background-color: #1e1e1e;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    animation: cardPopIn 0.3s ease;
    opacity: 1;
}

@keyframes cardPopIn {
    0% {
        opacity: 0;
        transform: scale(0.95) translateY(10px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-color: #FC282C;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(252, 40, 44, 0.1) 0%, transparent 50%, rgba(252, 40, 44, 0.1) 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.card:hover::after {
    opacity: 1;
}

.card-content {
    padding: 16px;
    transition: transform 0.3s ease;
}


.card img, .exercise-cover {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card:hover img, .card:hover .exercise-cover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.card-content p strong {
    color: #FC282C;
    transition: color 0.3s ease;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #333;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    margin: 0 0 8px;
    font-size: 1.3em;
    color: #fff;
}

.card-content p {
    margin: 4px 0;
    font-size: 1em;
    color: #b0b0b0;
}

.card-content strong {
    color: #FC282C;
}

.like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #1e1e1e;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.1s ease, box-shadow 0.1s ease;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 999;

    transform-origin: center;
    transform: translateZ(0);
    will-change: transform;
}

.like-button:hover {
    background-color: #2e2e2e;
}

.like-button i {
    font-size: 25px;
    color: #ccc;
    transition: color 0.3s ease, transform 0.3s ease;
    transform-origin: center;
}

.like-button .liked {
    color: #FC282C;
    animation: HeartAnim 0.6s ease-out forwards;
}

@keyframes HeartAnim {
    0%, 100% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.2);
    }
    30% {
        transform: scale(0.9);
    }
    45% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1.05);
    }
    75% {
        transform: scale(1.02);
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    backdrop-filter: blur(5px);
}

.popup-content {
    position: relative;
    background-color: #1e1e1e;
    padding: 32px;
    border-radius: 12px;
    width: 80%;
    max-width: 60%;
    max-height: 80vh;
    color: #fff;
    overflow-y: auto;
    animation: fadeIn 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popup-top {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.popup-left {
    flex: 1;
}

.popup-left h3 {
    margin: 0;
    font-size: 1.8em;
    color: #fff;
    position: relative;
    letter-spacing: 0.5px;
}

.popup-left .description {
    font-size: 1.1em;
    color: #b0b0b0;
    margin-top: 15px;
}

.popup-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.popup-right img {
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.popup-bottom {
    margin-top: 20px;
}

.details-row {
    display: flex;
    gap: 8px;
}

.details-item {
    background-color: #252525;
    padding: 8px 16px;
    border-radius: 12px;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    flex: 1 1 calc(25% - 16px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.details-item strong {
    color: #FC282C;
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #FC282C;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
}

.close-btn:hover {
    transform: scale(1.05);
}

.close-btn:active {
    transform: scale(0.95);
}

.close-btn:hover {
    background-color: rgb(198, 19, 19);
}

@media (max-width: 985px) {
    .sorting-container {
        margin-bottom: 0;
    }
    
    .sorting-dropdown {
        flex: 1 1 1 100%;
        width: unset;
        justify-content: center;
    }

    .sorting-container{
        flex-direction: column;
    }
}


@media (max-width: 768px) {
    .popup-content {
        max-width: 100%;
    }

    .login-popup-content {
        max-width: 100% !important;
    }
    
    .card {
        width: 100%;
    }
    
    .close-btn {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
    
    .popup-top {
        flex-direction: column;
    }
    
    .popup-right img {
        max-width: 100%;
        height: auto;
    }
    
    .popup-left h3 {
        width: 80%;
    }
    
    .details-row {
        flex-direction: column;
    }
    
    .popup-top {
        gap: 0;
    }

    .add-exercise-button::before {
        display: none;
    }

    .popup-content h2{
        width: 80%;
    }

    .grid-form {
        grid-template-columns: 1fr;
    }

    .form-group.full-width{
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .grid-form {
        display: grid;
    }
}

.add-exercise-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FC282C;
    color: #000;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    z-index: 1000;
}

.add-exercise-button::before {
    content: "Gyakorlat hozzáadása";
    position: absolute;
    white-space: nowrap;
    font-size: 1rem;
    color: #000;
    background-color: #FC282C;
    padding: 20.5px;
    border-radius: 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateX(10px);
    right: 10%;
    font-weight: bold;
}

.add-exercise-button:hover::before {
    opacity: 1;
    transform: translateX(0);
}

.popup-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #FC282C;
}

.grid-form {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.form-group.full-width {
    grid-column: span 2;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #FC282C;
    box-shadow: 0 0 0 3px rgba(252, 40, 44, 0.2);
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #FC282C;
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.1s ease;
    box-sizing: border-box;
}

.submit-btn:hover {
    background-color: rgb(198, 19, 19);
}

.submit-btn:disabled {
    background-color: #444;
    color: #000;
    cursor: not-allowed;
}

.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #444;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #2a2a2a;
    transition: border-color 0.3s ease;
    height: 100%;
    position: relative;
}

.file-upload-container:hover {
    border-color: #FC282C;
}

.file-upload-label {
    margin-bottom: 0 !important;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

input[type="file"] {
    display: none;
}

.fa-filter {
    margin-right: 10px;
}

.fa-upload{
    color: #FC282C;
    margin-right: 10px;
    font-size: 18px;
}

.fa-search {
    margin-right: 10px;
    font-size: 18px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #1e1e1e;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.search-container input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #0f0f0f;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    height: 39px;
}

input:focus{
    border-color: #FC282C;
    box-shadow: 0 0 0 3px rgba(252, 40, 44, 0.2)
}

.search-container label {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #fff;
    font-size: 1.1em;
}

.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input-wrapper input {
    width: 100%;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #0f0f0f;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.clear-button {
    display: flex;
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.5rem;
    background-color: #FC282C;
}

.clear-button:hover {
    background-color: rgb(198, 19, 19);
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-bottom: 35px;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-top: 8px solid #FC282C;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.h1-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #e0e0e0;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.h1-container h1::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #FC282C, transparent);
}

.exercise-cover {
    width: 100%;
    height: 200px;
    background: linear-gradient(45deg, #1e1e1e, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #333;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.exercise-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #FC282C, #B22222, #FC282C);
    opacity: 0;
    transition: opacity 0.1s ease;
    z-index: 1;
}

.exercise-cover:hover::before {
    opacity: 1;
}

.exercise-cover span {
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
    color: #eae4e4;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    transition: color 0.1s ease;
}

.exercise-cover:hover span {
    color: rgb(17, 15, 15);
}

.login-popup-content{
    position: relative;
    background-color: #1e1e1e;
    padding: 24px;
    border-radius: 12px;
    max-width: 60%;
    max-height: 80vh;
    color: #fff;
    overflow-y: auto;
    animation: fadeIn 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.profile-picture {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #FC282C;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
    margin-right: 10px;
}

.default-icon .fa-user {
    color: #1e1e1e !important;
    margin-right: 0 !important;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.uploader {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.uploader-h4 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}