<div class="exercise-cards">
    <div class="sorting-container">
        <div class="sorting-dropdown">
            <label>Szűrés izomcsoport szerint:</label>
            <div class="custom-select">
                <select id="muscleGroup" (change)="changeMuscleGroup($any($event.target).value)">
                    <option value="all">Összes</option>
                    <option value="Láb">Láb</option>
                    <option value="Mell">Mell</option>
                    <option value="Kar">Kar</option>
                    <option value="Hát">Hát</option>
                    <option value="Has">Has</option>
                </select>
                <span class="custom-arrow">▼</span>
            </div>
        </div>
        <div class="sorting-dropdown">
            <label>Szűrés kategória szerint:</label>
            <div class="custom-select">
                <select id="exerciseType" (change)="changeType($any($event.target).value)">
                    <option value="all">Összes</option>
                    <option value="edzotermi edzes">Edzőtermi edzés</option>
                    <option value="sajat testsulyos edzes">Saját testsúlyos edzés</option>
                </select>
                <span class="custom-arrow">▼</span>
            </div>
        </div>
    </div>

    <div class="card" *ngFor="let exercise of exercises | sortExercises: selectedType : selectedMuscleGroup"
        (click)="openPopup(exercise)">
        <div class="like-button" (click)="toggleLike(exercise); $event.stopPropagation()">
            <i class="fas fa-heart" [ngClass]="{'liked': exercise.isLiked}"></i>
        </div>
        <img [src]="exercise.img" [alt]="exercise.exercise_name" />
        <div class="card-content">
            <h3>{{ exercise.exercise_name }}</h3>
            <p><strong>Kategória:</strong> {{ exercise.type }}</p>
            <p><strong>Izomcsoport:</strong> {{ exercise.muscle_group }}</p>
        </div>
    </div>
</div>

<div *ngIf="showPopup" class="popup" (click)="closePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closePopup()">
            <i class="fas fa-times"></i>
        </button>

        <div class="popup-top">
            <div class="popup-left">
                <h3>{{ selectedExercise.exercise_name }}</h3>
                <p class="description">{{ selectedExercise.description }}</p>
            </div>

            <div class="popup-right">
                <img [src]="selectedExercise.img" [alt]="selectedExercise.exercise_name" />
            </div>
        </div>

        <div class="popup-bottom">
            <div class="details-row">
                <div class="details-item">
                    <strong>Kategória:</strong> {{ selectedExercise.type }}
                </div>
                <div class="details-item">
                    <strong>Izomcsoport:</strong> {{ selectedExercise.muscle_group }}
                </div>
            </div>
        </div>
    </div>
</div>

<button class="add-exercise-button" (click)="openAddExercisePopup()">+</button>

<div *ngIf="showAddExercisePopup" class="popup">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeAddExercisePopup()">
            <i class="fas fa-times"></i>
        </button>
        <h2>Új gyakorlat hozzáadása</h2>
        <div class="add-exercise-container">
            <form (ngSubmit)="addExercise()" class="grid-form" #addExerciseForm="ngForm">
                <div class="form-group">
                    <label for="exercise_name">Gyakorlat neve:</label>
                    <input id="exercise_name" [(ngModel)]="newExercise.exercise_name" name="exercise_name" required />
                </div>
                <div class="form-group">
                    <label for="muscle_group">Izomcsoport:</label>
                    <select id="muscle_group" [(ngModel)]="newExercise.muscle_group" name="muscle_group" required>
                        <option value="Láb">Láb</option>
                        <option value="Mell">Mell</option>
                        <option value="Kar">Kar</option>
                        <option value="Hát">Hát</option>
                        <option value="Has">Has</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Leírás:</label>
                    <textarea id="description" [(ngModel)]="newExercise.description" name="description"
                        required></textarea>
                </div>
                <div class="form-group">
                    <label for="image">Kép:</label>
                    <div class="file-upload-container" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
                        <label for="image" class="file-upload-label">
                            <span *ngIf="!newExercise.imgFile">Húzd ide a képet, vagy kattints a feltöltéshez</span>
                            <span *ngIf="newExercise.imgFile">{{ newExercise.imgFile.name }}</span>
                            <input type="file" id="image" (change)="onFileSelected($event)" accept="image/*" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="type">Kategória:</label>
                    <select id="type" [(ngModel)]="newExercise.type" name="type" required>
                        <option value="edzotermi edzes">Edzőtermi edzés</option>
                        <option value="sajat testsulyos edzes">Saját testsúlyos edzés</option>
                    </select>
                </div>
                <div class="form-group full-width">
                    <button type="submit" [disabled]="!addExerciseForm.form.valid" class="submit-btn">Gyakorlat
                        hozzáadása</button>
                </div>
            </form>
        </div>
    </div>
</div>