/* You can add global styles to this file, and also import other style files */

html, body{
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #FC282C;
    border-radius: 8px;
}

body::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}