<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <img src="assets/logo_only.png" alt="FitnessMe Logo" class="footer-logo">
                <p class="footer-text">Az egészséges életmód itt kezdődik!</p>
            </div>
            <div class="footer-section">
                <h4 class="footer-heading">Linkek</h4>
                <ul class="footer-links horizontal-links">
                    <li><a routerLink="/" class="footer-link">Kezdőlap</a></li>
                    <li><a routerLink="/calculator" class="footer-link">Kalória Kalkulátor</a></li>
                    <li><a routerLink="/recipes" class="footer-link">Receptek</a></li>
                    <li><a routerLink="/diets" class="footer-link">Étrendek</a></li>
                    <li><a routerLink="/exercises" class="footer-link">Gyakorlatok</a></li>
                    <li><a routerLink="/workouts" class="footer-link">Edzéstervek</a></li>
                    <li><a routerLink="/login" class="footer-link">Bejelentkezés</a></li>
                    <li><a href="#features" class="footer-link">Szolgáltatások</a></li>
                    <li><a href="#about" class="footer-link">Rólunk</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4 class="footer-heading">Kapcsolat</h4>
                <ul class="footer-links">
                    <li><a routerLink="/contacts" class="footer-link">Kapcsolatfelvétel</a></li>
                    <li><a href="mailto:info@fitnessme.com" class="footer-link">info&#64;fitnessme.com</a></li>
                    <li><a href="tel:+3612345678" class="footer-link">+36 123 456 78</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4 class="footer-heading">Kövess minket</h4>
                <div class="social-icons">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-copy">&copy; {{ getCurrentYear() }} FitnessMe. Minden jog fenntartva.</p>
        </div>
    </div>
</footer>