<div class="login-container">
    <div class="login-card">
        <h2>Jelszó visszaállítása</h2>
        <p class="subtitle">A kód el lett küldve az e-mail címedre. Kérjük, ellenőrizd a postaládádat. Add meg a kapott kódot és az új jelszavadat</p>
        <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
            <div class="form-group">
                <label for="code">Kód</label>
                <input type="number" id="code" name="code" [(ngModel)]="token" required #codeInput="ngModel"
                    placeholder="Add meg a kapott kódot" />
                <div *ngIf="codeInput.invalid && (codeInput.dirty || codeInput.touched)" class="error-message">
                    A kód kötelező.
                </div>
                <div *ngIf="apiResponse" class="response-message">
                    {{ apiResponse }}
                </div>
            </div>

            <div class="form-group">
                <label for="newPassword">Új jelszó</label>
                <input type="password" id="newPassword" name="newPassword" [(ngModel)]="password" required
                    #newPasswordInput="ngModel" placeholder="Add meg az új jelszavad" (input)="onPasswordChange()" />
                <div *ngIf="newPasswordInput.invalid && (newPasswordInput.dirty || newPasswordInput.touched)"
                    class="error-message">
                    Az új jelszó kötelező.
                </div>
                <div *ngIf="passwordError" class="error-message">
                    {{ passwordError }}
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Jelszó megerősítése</label>
                <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="password_confirmation"
                    required #confirmPasswordInput="ngModel" placeholder="Erősítsd meg az új jelszavad"
                    (input)="onPasswordChange()" />
                <div *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)"
                    class="error-message">
                    A jelszó megerősítése kötelező.
                </div>
                <div *ngIf="password !== password_confirmation" class="error-message">
                    A jelszavak nem egyeznek.
                </div>
            </div>

            <button type="submit" [disabled]="!resetPasswordForm.form.valid || password !== password_confirmation">
                Jelszó visszaállítása
            </button>
        </form>
    </div>
</div>